/* CSS Variables - https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

html {
    font-size: 100%;
    background-color: #efefef;
}

body {
    font-size: 1.125rem;/** 18px **/
    color: #222;
    font-family: sans-serif;
}

/** header **/
header {
    margin: 1.875rem 0; /*30px 0 */
    text-align: center;
    color: #1e1e1e;
    text-decoration: underline;
    text-underline-position: under;
}

/** global structural elements **/
.inner-container {
    max-width: 50rem; /** 800px **/ 
    margin: auto;
}

/** Form **/

/** remove the default fieldset styles **/
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

form {
    max-width: 37.5rem; /**600px**/
    margin: auto;
}

/** the majority of form elements are inline elements, so have the labels sit above the inputs we need to change them to block **/
label {
    display: block;
}

input,
select,
textarea {
    width: 37.5rem;
}

form div,
fieldset {
    margin-bottom: 1.875rem; /*30px*/
}

fieldset div {
    margin-bottom: 0.625rem;
}

textarea {
    resize: vertical; /** other value are horizontal, both and none */
    min-width: 37.5rem;
    max-width: 37.5rem;
    min-height: 5rem; 
}

/** target only the radio and checkbox fields **/
input[type=radio],
input[type=checkbox] {
    /** set the width back to it's normal default **/
    width: auto; /* or initial*/
}

/** to place the labels beside the radio buttons and checkboxes you can either flex or your can put the labels back to their natural state using display:inline or inline-block **/

label[for="spain"],
label[for="maui"], 
label[for="trinidad"],
label[for="html"],
label[for="css"],
label[for="js"] {
    display:inline;
}

/** targeting the submit button **/
input[type=submit] {
    width: 12.5rem; /*200px*/
    display: block;
    margin: auto;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
    border-radius: 3px;
    color: pink;
    transition: all 0.3s ease-in-out;

}

input[type=submit]:hover {
    background-color: pink;
    border: 1px solid pink;
    color: #1e1e1e;
}
